<div fxLayout="row" fxLayoutAlign="space-between start" class="p-[10px]" style=" border: none;">
  <div fxLayout="column" fxLayoutGap="2px" style="color: #eeeeee;">
    <h1>{{ header }}</h1>
    <p>{{ message }}</p>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <i class="fas fa-eur text-[20px]" style="color: white"></i>
      <!-- <img style="width: 25px;"
          src="../../assets/images/euro.png"
          alt=""> -->
      <p style="color: white;">{{ stats?.money }}</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <i class="fas fa-handshake text-[20px]" style="color: white"></i>
      <!-- <img style="width: 25px;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMJSUjbXFQvnTNX9jws1zAIyASz51OcB7dUQ&usqp=CAU"
          alt=""> -->
      <p style="color: white;">{{ stats?.fans }}</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <!-- <img style="width: 25px;" src="https://cdn-icons-png.flaticon.com/512/69/69840.png" alt=""> -->
      <i class="fas fa-dumbbell text-[20px]" style="color: white"></i>
      <p style="color: white;">{{ stats?.fitness }}</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <i class="fas fa-trophy text-[20px]" style="color: white"></i>
      <!-- <img style="width: 25px;"
          src="https://www.clipartmax.com/png/middle/134-1346815_gold-trophy-illustration-icon-award-trophy-icon-png.png"
          alt="">  -->
      <p style="color: white;">{{ stats?.wins }}</p>
    </div>
  </div>
</div>
