<footer class="text-center">
  <div class="container p-4">
    <section>
      <div class="grid-container" fxLayout="row" fxLayoutAlign="space-evenly center">
        <div>
          <a class="grid-item" style="font-size: 25px;" routerLink="/create-room/1/space" role="button">
            <i class="fas fa-house-chimney"></i>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/" role="button" style="font-size: 25px;">
            <i class="fa-solid fa-eur"></i>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/search" role="button"
            style="font-size: 45px; background-color: #00ffff; border-radius: 100px; width: 60px; margin: auto;">
            <i class="fa-solid fa-trophy"></i>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/search" style="font-size: 25px;" role="button">
            <i class="fa-solid fa-users"></i>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/search" style="font-size: 25px;" role="button">
            <i class="fa-solid fa-duotone fa-futbol"></i>
          </a>
        </div>

      </div>
    </section>

  </div>
</footer>
