<footer class="text-center" style="z-index: 999999">
  <div class="px-[16px] py-[12px]">
    <section>
      <div class="grid-container" fxLayout="row" fxLayoutAlign="space-between center" style="color: #EEEEEE;">
        <div>
          <a class="grid-item" routerLink="/create-room/1/space" role="button" routerLinkActive="active-link">
            <i class="fas fa-house-chimney text-[20px]"></i>
            <p class="text-[13px] mb-0">Home</p>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/sponsor" role="button" routerLinkActive="active-link">
            <i class="fa-solid fa-eur text-[20px]"></i>
            <p class="text-[13px] mb-0">Sponsor</p>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/search" role="button">
            <div class="flex justify-center items-center" style="height: 60px; width: 60px; background-color: #00ADB5; border-radius: 100px; margin: auto; clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);">
              <i class="fa-solid fa-trophy text-[25px]"></i>
            </div>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/staff" role="button" routerLinkActive="active-link" (click)="router.navigateByUrl('staff?index=0')">
            <i class="fa-solid fa-users text-[20px]"></i>
            <p class="text-[13px] mb-0">Staff</p>
          </a>
        </div>
        <div>
          <a class="grid-item" routerLink="/search" role="button" routerLinkActive="active-link">
            <i class="fa-solid fa-duotone fa-futbol text-[20px]"></i>
            <p class="text-[13px] mb-0">Stadium</p>
          </a>
        </div>

      </div>
    </section>

  </div>
</footer>
