// * {
//   font-family: 'Barlow', sans-serif;
// font-family: 'Kanit', sans-serif;
// font-family: 'Manrope', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Sulphur Point', sans-serif;
// font-weight: 700;
// color: white;
// }
*{
height: 100%;
}

p {
  color: #EEEEEE !important;
}

.home {
  height: 100%;
  width: 100%;
  background-color: #363636;

}

.card {
  background-color: #131313;
  height: 120px;
  width: 100%;
  border-radius: 10px;
  padding: 4px;
  color: white;
}

.player-card {
  height: 200px;
  width: 40%;
  background-color: red;
  border-radius: 10px;
}

.live1 {
  background-color: white;
   padding: 2px;
   width: 30px;
    margin: 10px;
    color: black;
    border-radius: 10px;
}

.live2 {
  background-color: black;
   padding: 2px;
   width: 30px;
    margin: 10px;
    color: white;
    border-radius: 10px;
}
